appdirs==1.4.4
async-timeout==4.0.2
beautifulsoup4==4.11.1
boto3==1.23.10
botocore==1.26.10
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.0.12
cssselect==1.1.0
dataclasses==0.8
Deprecated==1.2.13
fake-useragent==0.1.11
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
jmespath==0.10.0
lxml==4.9.1
numpy==1.19.5
packaging==21.3
parse==1.19.0
pkg_resources==0.0.0
podcast-api==1.1.4
podsearch==0.1.3
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==0.2.6
pyquery==1.4.3
python-dateutil==2.8.2
redis==4.3.4
requests==2.27.1
requests-html==0.10.0
s3transfer==0.5.2
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2.post1
spotipy==2.20.0
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.11
w3lib==2.0.1
websockets==9.1
wrapt==1.14.1
xvfbwrapper==0.2.9
zipp==3.6.0
